<template>
  <div class="home">
<div>
  <p>{{item}}</p>
<button @click="$router.push('/')" class="toback">На главную</button>
</div>
   
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {

  components: {
    HelloWorld
  }
}
</script>
<style >
.toback{
    width: 282px;
    height: 48px;
    border: none;
    background-color: #0071E3;
    color: whitesmoke;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: 500;
}
</style>
