<template>
  <div id="app">
    NEW HEADER
    <div id="nav">
      <!-- <router-link to="/"><p class="face">Facebook</p></router-link>  -->
      <!-- <router-link to="/about">About</router-link> -->
      <!-- <p class="face">Facebook</p> -->
    </div>
    <router-view/>
  </div>
</template>

<script>

export default {

  methods:{
  },
  components:{
  
  }
}
</script>



<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.item{
    width: 150px;
    height: 50px;
    background-color: cornflowerblue;
}
.face{
  font-size: 20px;
  text-decoration: none;
  
}
</style>




